<template>
    <div class="new-booze-wrapper">
        <b-card
            title="Nova Bebida"
            class="mb-2"
        >
            <b-form-group
                id="fieldset-1"
                description="Informe o nome da bebida."
                label="Nome: "
                label-for="input-1"
                :invalid-feedback="invalidName"
                :state="isValidName"
                :disabled="loading"
            >
                <b-form-input id="input-1" v-model="booze.name" :state="isValidName" trim></b-form-input>
            </b-form-group>
            <b-form-group
                id="fieldset-2"
                description="Informe o valor da bebida."
                label="Preço: "
                label-for="input-2"
                :disabled="loading"
            >
                <b-form-input type="number" id="input-2" v-model="validPrice" trim></b-form-input>
            </b-form-group>
            <b-form-group
                id="fieldset-2"
                label="Descrição: "
                label-for="input-3"
                :disabled="loading"
            >
                <b-form-input id="input-3" v-model="booze.description" trim></b-form-input>
            </b-form-group>
            <div class="text-center" v-if="!editing">
                <b-button @click="saveBooze" variant="outline-secondary">
                    Salvar
                </b-button>
            </div>
            <div class="text-center" v-else>
                <b-button @click="updateBooze" variant="outline-secondary">
                    Atualizar
                </b-button>
            </div>
        </b-card>
    </div>
</template>

<script lang="ts" src="./NewBooze.ts"></script>
<style lang="scss" src="./NewBooze.scss"></style>