.panel-wrapper {
    background-color: transparent;

    .content {
        margin: 8rem;

        @media(max-width: 769px) {
            margin: 8rem 2rem !important;
        }

        @media(max-width: 426px) {
            margin: 6rem 0.5rem !important;
        }
    }
}