<template>
    <div class="panel-wrapper">
        <NavBar/>
        <div class="content" ref="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script lang="ts" src="./Panel.ts"></script>
<style lang="scss" src="./Panel.scss"></style>