<template>
    <div class="navbar-wrapper">
        <b-navbar toggleable="lg" fixed="top" type="dark" variant="light">
            <b-navbar-brand href="#">Bebidas</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse">
                <template v-slot:default="{ expanded }">
                    <b-icon v-if="expanded" icon="chevron-bar-up" style="color: black !important;"></b-icon>
                    <b-icon v-else icon="chevron-bar-down" style="color: black !important;"></b-icon>
                </template>
            </b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item><router-link to="/panel/new">Cadastrar Bebidas</router-link></b-nav-item>
                    <b-nav-item><router-link to="/panel/list">Listar Bebidas</router-link></b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script lang="ts" src="./NavBar.ts"></script>
<style lang="scss" src="./NavBar.scss" scoped></style>
