<template>
    <div class="booze-list-wrapper" v-if="boozes">
        <b-col lg="4" offset="8" class="my-1">
            <b-form-group
                label-cols-sm="3"
                label-align-sm="right"
                label-size="sm"
                label-for="inputFilter"
                class="mb-0"
            >
                <b-input-group size="sm">
                    <b-form-input
                        v-model="inputFilter"
                        type="search"
                        id="inputFilter"
                        placeholder="Escreva para buscar"
                    ></b-form-input>
                    <b-input-group-append>
                        <b-button :disabled="!inputFilter" @click="inputFilter = ''">Limpar</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>
        </b-col>
        <div>
            <b-table
                selectable
                show-empty
                :bordered="true"
                :hover="true"
                :busy="loading"
                @row-selected="editBooze"
                :filter="inputFilter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :fields="fields"
                :items="boozes"
                :current-page="currentPage"
                :responsive="true"
                :per-page="perPage"
                head-variant="light"
            >
            <!-- sticky-header -->
                <template v-slot:table-busy>
                    <div class="text-center my-2">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                </template>

                <template v-slot:cell(name)="data">
                    <b class="text-info">{{ data.value }}</b>
                </template>

                <template v-slot:cell(description)="data">
                    {{ data.value }}
                </template>

                <template v-slot:cell(price)="data">
                    <b>{{ data.value }}</b>
                </template>

                <template v-slot:cell(createdAt)="data">
                    <b>{{ new Intl.DateTimeFormat().format(new Date(data.value)) }}</b>
                </template>

                <template v-slot:cell(actions)="row">
                    <b-icon-trash-fill @click.stop.prevent="deleteBooze(row.item, row.index)" class="ml-5"></b-icon-trash-fill>
                </template>
            </b-table>
        </div>
        <div class="my-1 pagination text-center">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            ></b-pagination>
        </div>
    </div>
</template>

<script lang="ts" src="./BoozeList.ts"></script>
<style lang="scss" src="./BoozeList.scss"></style>
